[Desktop Entry]
Type=Application
Version=1.0
Name=StudentProjectMatchingAlgorithm
Exec=./main.py
Comment=A simple GUI tool to match students to projects
Terminal=false;
